/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color: rgb(179, 160, 58);;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
a {
  text-decoration: none;
}
ul:not(.no) {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
 /* Start Header */

header h1 {
  margin-top: 50px;
  font-weight: 500;
  letter-spacing: 9px;
  font-size: 40px;
}

header h1 span:first-child {
  color: rgb(179, 160, 58);
}

header ul {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
}

header ul li {
  width: 300px;
  font-weight: normal;
}
header ul li:not(:last-child) {
  border-right: 1px solid rgb(179, 160, 58);
}

header ul li:not(:first-child, :last-child) {
  margin: auto 0;
}

@media (max-width: 900px) {
  header ul {
      flex-direction: column;
      align-items: center;
  } header ul li:not(:last-child) {
  height: 40px;
  border-right: none !important;
  border-bottom: 1px solid rgb(179, 160, 58);
  } header ul li:not(:last-child, :first-child) {
  margin: -10px 0;
  }
  hr {
      width: 30vw !important;
  }
}

header .Links_And_Name div a {
  margin-left: 25px;
  transition: 0.3s;
}

header .Links_And_Name div a:hover {
  color: rgb(231 208 84) !important;
}

@media (max-width: 589px) {
  header .Links_And_Name div a {
    margin-bottom: 15px;
  }
  header .Links_And_Name div {
    display: flex;
    flex-direction: column !important;
  }
}


/* End Header */

/* Start Skills */

.skills {
  padding: 40px
}

.skills .title h3 {
  color: transparent;
  font-weight: normal;
  letter-spacing: 3px;
  margin-left: 45px;
  position: relative;
  width: 167px;
}

.skills ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 65vw;
  margin-left: 150px;
}

.skills ul li:first-child {
  text-decoration: underline;
  margin: 20px 90px 0 30px;
}
.skills ul li:first-child + li {
  margin: 20px 35px 0 0;
}
.skills ul li:first-child + li + li {
  margin: 10px 60px 0 0;
}
.skills ul li:first-child + li + li + li {
  margin: 20px 0 0 0;
}
.skills ul li:first-child + li + li + li + li,
.skills ul li:first-child + li + li + li + li + li {
  margin-top: 25px;
  margin-right: 25px;
}
.skills ul li:last-child,
.skills ul li:last-child span {
  margin-top: 25px;
  margin-right: 35px;
}

.skills .title h3::after {
  content: "مهاراتهم ف الشرمطة";
  color: var(--main-color);
  position: absolute;
  left: 0;
  width: 0;
  border-right: 1px solid var(--main-color);
  overflow: hidden;
  animation: write 4s linear infinite;
}

@media (max-width: 1167px) {
  .skills ul li:first-child + li + li + li {
      margin-top: 25px !important;
  margin-right: 35px !important;
  }
}

@media (max-width: 814px) {
  .skills ul li:first-child + li + li {
      margin-top: 11px !important;
  }
}

@media (max-width: 900px) {
  .skills ul {
      margin-left: 18%;
  }
}

@media (max-width: 727px) {
  .skills ul li:first-child + li + li p {
      margin-left: 20px;
  } .skills ul li:first-child {
      margin-left: 19px;
  }
}

@media (max-width: 539px) {
  .skills .title h3 {
      text-align: center;
      margin: 0;
  }
  .skills ul li:first-child {
      margin-left: 3px;
  }
}

@media (max-width: 492px) {
  .skills ul li,
  .skills ul li p,
  .skills ul{
      margin: 0 !important;
      padding: 0 !important;
  }
  .skills ul {
      flex-direction: column;
      text-align: center;
      width: 100% !important;
  }
  .skills ul li:first-child + li + li + li {
      margin-top: 0 !important;
      margin-right: 0 !important;
  }
  .skills ul li:first-child + li + li {
      margin-top: 0 !important;
  }
  .skills ul li {
      margin-bottom: 10px !important;
  } .skills .title h3 {
      margin-bottom: 30px;
  }
  .skills .title {
      width: 100%;
      display: flex;
      justify-content: center;
  }
}

@media (min-width: 1309px) {
  .skills ul li,
  .skills ul li p,
  .skills ul li span {
    margin: 0 !important;
  }
  .skills ul {
    align-items: center;
    justify-content: center;
    justify-content: space-around;
  }
  .skills ul {
    width: 80%;
  }
}

/* End Skills */

/* Start EDUCATION */

.education {
  position: relative;
  margin-left: 80px;
  width: calc(100% - 110px);
}

@media (max-width: 422px) {
  .education {
    width: calc(100% - 80px);
  } 
}

.education h3 {
  font-weight: normal;
  color: var(--main-color);
  position: relative;
  color: transparent;
  max-width: 101px;
}
.education h3::after {
  content: attr(data-text);
  color: var(--main-color);
  width: 0;
  overflow: hidden;
  position: absolute;
  left: 0;
  z-index: 15;
  border-right: 1px solid var(--main-color);
  animation: write 4s linear infinite;
}
.education h3 + p + p {
  width: 100%;
  text-align: end;
}
/* .education h3 + p + p + p {
  margin-top: 25px;
} */

.education p:last-child {
  word-spacing: 5px;
}

@media (max-width: 433px) {
  .education {
      margin-left: 40px;
  }
  .education p:last-child {
      margin-right: 25px;
  }
  header ul {
      width: 100%;
  } header ul li {
      width: 100%;
  } .education h3 {
    margin: auto;
  }
}

/* End EDUCATION */

/* Start EXPERIENCE */

.experience {
  margin-left: 80px;
}

.experience h3 {
  color: transparent;
  font-weight: normal;
  width: fit-content;
  position: relative;
}

.experience h3::after {
  content: "تاريخهم";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  overflow: hidden;
  border-right: 1px solid var(--main-color);
  color: var(--main-color);
  animation: write linear 4s infinite;
}

.experience .texts p {
  font-weight: bold;
  margin: 2px 0 2px 5px;
}

.experience .Completions_Of_2022 h4,
.experience .Completions_Of_2020 h4 {
  text-align: end;
  margin-right: 60px;
}

.experience ul {
  margin-top: -30px;
  margin-bottom: 25px;
}

.experience ul li {
  margin-bottom: 15px;
}

@media (max-width: 640px) {
  .experience .Completions_Of_2022 h4,
.experience .Completions_Of_2020 h4 {
  text-align: end;
  margin-right: 60px;
  transform: translateY(-20px);
}
.experience,
.languages {
  margin-left: 10px !important;
}
}

/* End EXPERIENCE */

/* Start Languages */

.languages h3 {
  position: relative;
  width: fit-content;
  color: transparent !important;
}

.languages h3::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  overflow: hidden;
  border-right: 1px solid var(--main-color);
  color: var(--main-color);
  animation: write linear 4s infinite;
}

/* End Languages */

hr {
  border-color: var(--main-color);
}

/*Start Animations*/
@keyframes write {
  20%,40%,60%,70% {
      width: 100%;
  }
  80%,90%,100% {
      width: 0;
  }
}
/* End Animations */